## [tushare官方文档](http://tushare.org/trading.html)
## [tushare pro](https://tushare.pro/register?reg=340050)

## 历史行情 （tushare org老接口，不维护）


参数说明：

- code：股票代码，即6位数字代码，或者指数代码（sh=上证指数 sz=深圳成指 hs300=沪深300指数 sz50=上证50 zxb=中小板 cyb=创业板）
- start：开始日期，格式YYYY-MM-DD
- end：结束日期，格式YYYY-MM-DD
- ktype：数据类型，D=日k线 W=周 M=月 5=5分钟 15=15分钟 30=30分钟 60=60分钟，默认为D
- retry_count：当网络异常后重试次数，默认为3
- pause:重试时停顿秒数，默认为0

返回值说明：

- date：日期
- open：开盘价
- high：最高价
- close：收盘价
- low：最低价
- volume：成交量
- price_change：价格变动
- p_change：涨跌幅
- ma5：5日均价
- ma10：10日均价
- ma20:20日均价
- v_ma5:5日均量
- v_ma10:10日均量
- v_ma20:20日均量
- turnover:换手率[注：指数无此项]

In [8]:
import tushare as ts
#一次性获取全部日k线数据
ts.get_hist_data('600848')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-01-03,24.61,24.71,24.61,24.43,43794.78,0.00,0.00,24.320,24.273,24.359,58218.87,47730.84,55996.85
2020-01-02,24.49,24.93,24.61,24.41,71783.60,0.06,0.24,24.194,24.283,24.341,56342.97,48301.04,55588.21
2019-12-31,24.89,25.23,24.55,24.43,86431.63,0.47,1.95,24.058,24.317,24.320,50907.77,47555.56,54514.24
2019-12-30,23.72,24.16,24.08,23.72,52275.18,0.33,1.39,24.002,24.385,24.284,39689.94,47281.90,51736.82
2019-12-27,23.97,24.09,23.75,23.75,36809.18,-0.23,-0.96,24.014,24.474,24.282,37666.28,50346.89,52540.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-11,22.99,24.00,22.23,21.85,257624.34,-0.90,-3.89,21.732,21.732,21.732,177746.19,177746.19,177746.19
2017-07-10,21.11,23.44,23.13,21.06,303458.56,1.82,8.54,21.608,21.608,21.608,157776.65,157776.65,157776.65
2017-07-07,20.80,21.44,21.31,20.65,111032.43,0.33,1.57,21.100,21.100,21.100,109216.01,109216.01,109216.01
2017-07-06,20.86,21.19,20.98,20.69,93068.35,-0.03,-0.14,20.995,20.995,20.995,108307.81,108307.81,108307.81
2017-07-05,20.59,21.14,21.01,20.51,123547.26,0.23,1.11,21.010,21.010,21.010,123547.26,123547.26,123547.26

In [6]:
import tushare as ts
# 设定历史数据的时间：(近三年)
ts.get_hist_data('600848',start='2018-01-05',end='2019-01-09')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-01-09,20.98,21.20,20.79,20.75,56234.03,-0.11,-0.53,20.700,20.854,21.063,57918.38,56524.10,66245.35
2019-01-08,21.26,21.58,20.90,20.89,57656.85,-0.36,-1.69,20.676,20.925,21.044,53747.36,57527.61,65460.99
2019-01-07,20.65,21.66,21.26,20.60,76365.69,0.73,3.56,20.632,21.021,21.012,50153.77,63749.05,64846.07
2019-01-04,19.70,20.60,20.53,19.60,46048.34,0.51,2.55,20.492,21.163,20.986,47922.18,80809.76,64152.58
2019-01-03,20.75,20.99,20.02,19.99,53287.00,-0.65,-3.15,20.706,21.215,21.035,52125.54,80243.84,66806.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23
2018-01-10,24.10,24.60,23.80,23.40,70125.79,-0.14,-0.58,24.410,23.394,23.204,119246.95,85508.89,66934.90
2018-01-09,24.60,24.78,23.96,23.82,82175.82,-0.76,-3.07,24.208,23.237,23.213,120159.21,84689.28,69688.92
2018-01-08,24.12,24.95,24.71,24.01,109535.76,0.20,0.82,23.900,22.992,23.153,112259.60,85078.67,67644.48
2018-01-05,24.00,25.40,24.51,23.70,204266.23,-0.56,-2.23,23.420,22.820,23.048,97543.60,76964.50,64853.80

In [7]:
ts.get_hist_data('600848', ktype='W') #获取周k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-01-06,24.41,24.41,24.41,24.41,0.00,-0.20,-0.81,24.356,24.419,25.722,217038.68,226208.79,294282.73
2020-01-03,23.72,25.23,24.61,23.72,254285.19,0.86,3.62,24.334,24.779,25.890,261020.56,277700.45,352100.28
2019-12-27,24.79,24.80,23.75,23.75,188331.39,-1.06,-4.27,24.062,24.997,25.918,252508.60,284243.88,374365.55
2019-12-20,24.38,25.45,24.81,24.25,315137.47,0.61,2.52,24.206,25.252,26.085,244927.41,291560.60,420150.62
2019-12-13,24.30,24.75,24.20,23.55,327439.34,-0.10,-0.41,24.108,25.390,26.625,225442.87,275020.72,426436.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994-04-22,10.91,11.23,9.68,8.42,97481.00,-1.22,-11.19,12.466,12.466,12.466,168624.60,168624.60,168624.60
1994-04-15,12.20,12.60,10.90,9.81,61348.00,-1.25,-10.29,13.163,13.163,13.163,186410.50,186410.50,186410.50
1994-04-08,14.58,14.60,12.15,12.11,33060.00,-2.05,-14.44,13.917,13.917,13.917,228098.00,228098.00,228098.00
1994-04-01,14.99,16.75,14.20,13.78,191242.00,-1.20,-7.79,14.800,14.800,14.800,325617.00,325617.00,325617.00
1994-03-25,20.50,22.48,15.40,14.61,459992.00,0.00,0.00,15.400,15.400,15.400,459992.00,459992.00,459992.00

In [10]:
ts.get_hist_data('600848', ktype='M') #获取月k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-01-06,24.49,24.93,24.41,24.41,115578.38,0.06,0.24,25.126,28.975,25.662,1043861.28,1866454.22,1247754.32
2019-12-31,23.22,25.45,24.55,23.22,1189524.25,1.30,5.59,25.700,29.405,25.642,1781531.95,2259488.50,1241975.40
2019-11-29,27.15,28.21,23.25,23.00,1063952.50,-3.97,-14.59,27.982,29.321,25.601,1957424.08,2278782.15,1182499.19
2019-10-31,26.33,28.49,27.22,25.62,1138905.88,1.02,3.89,29.558,28.978,25.554,2084615.85,2258603.13,1129301.57
2019-09-30,27.20,28.88,26.20,25.88,1711345.38,-1.08,-3.96,31.020,28.324,25.405,2308742.08,2144712.55,1137947.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994-07-29,6.88,6.90,4.20,4.02,79563.00,-2.65,-38.69,8.600,8.600,8.600,229020.00,229020.00,229020.00
1994-06-30,8.40,8.40,6.85,6.50,76744.00,-1.55,-18.45,9.700,9.700,9.700,266384.25,266384.25,266384.25
1994-05-31,9.65,10.20,8.40,8.08,75466.00,-1.25,-12.95,10.650,10.650,10.650,329597.67,329597.67,329597.67
1994-04-29,13.90,14.95,9.65,8.42,297387.00,-4.25,-30.58,11.775,11.775,11.775,456663.50,456663.50,456663.50
1994-03-31,20.50,22.48,13.90,13.78,615940.00,0.00,0.00,13.900,13.900,13.900,615940.00,615940.00,615940.00

In [11]:
ts.get_hist_data('600848', ktype='5') #获取5分钟k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2020-01-03 15:00:00,24.61,24.62,24.61,24.60,1101.0,0.00,0.00,24.596,24.588,24.5655,1487.48,1095.24,850.67,0.01
2020-01-03 14:55:00,24.59,24.63,24.62,24.58,3124.0,0.03,0.12,24.594,24.582,24.5620,1446.88,1038.64,806.52,0.04
2020-01-03 14:50:00,24.58,24.59,24.59,24.57,784.4,0.01,0.04,24.586,24.573,24.5575,970.08,772.24,671.42,0.01
2020-01-03 14:45:00,24.58,24.59,24.58,24.57,1427.0,0.00,0.00,24.586,24.568,24.5545,961.40,736.50,660.55,0.02
2020-01-03 14:40:00,24.59,24.60,24.58,24.58,1001.0,-0.01,-0.04,24.586,24.563,24.5520,729.60,655.20,624.05,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24 14:15:00,24.19,24.20,24.19,24.19,254.0,0.00,0.00,24.200,24.227,24.2520,530.60,598.32,540.72,0.00
2019-12-24 14:10:00,24.19,24.21,24.19,24.18,633.0,0.00,0.00,24.206,24.233,24.2560,738.73,676.14,544.37,0.01
2019-12-24 14:05:00,24.21,24.22,24.19,24.18,754.0,-0.02,-0.08,24.222,24.239,24.2625,662.13,656.24,521.57,0.01
2019-12-24 14:00:00,24.22,24.22,24.21,24.20,463.0,-0.01,-0.04,24.234,24.246,24.2675,582.33,611.34,522.87,0.01
2019-12-24 13:55:00,24.21,24.22,24.22,24.21,549.0,0.01,0.04,24.244,24.254,24.2715,573.00,588.44,516.47,0.01

In [13]:
ts.get_hist_data('600848', ktype='15') #获取15分钟k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2020-01-03 15:00:00,24.58,24.63,24.61,24.57,5009.4,0.03,0.12,24.572,24.558,24.5690,2786.68,2150.53,2738.23,0.06
2020-01-03 14:45:00,24.58,24.60,24.58,24.57,3326.0,0.00,0.00,24.564,24.555,24.5670,2175.80,1840.60,2605.88,0.04
2020-01-03 14:30:00,24.57,24.59,24.58,24.55,1749.0,0.01,0.04,24.554,24.555,24.5605,1779.20,1824.66,2705.79,0.02
2020-01-03 14:15:00,24.53,24.56,24.55,24.53,1863.0,0.02,0.08,24.544,24.567,24.5570,1766.61,1968.00,2731.09,0.02
2020-01-03 14:00:00,24.57,24.60,24.54,24.52,1986.0,-0.03,-0.12,24.544,24.575,24.5560,1681.01,2150.74,2985.48,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-04 11:15:00,24.24,24.26,24.21,24.19,1841.0,-0.03,-0.12,24.210,24.107,23.9225,2238.60,4064.20,2626.35,0.02
2019-12-04 11:00:00,24.20,24.25,24.24,24.16,1562.0,0.04,0.17,24.202,24.066,23.8970,3245.00,4144.00,2636.04,0.02
2019-12-04 10:45:00,24.16,24.23,24.20,24.15,2661.0,0.04,0.17,24.222,24.015,23.8720,6315.20,4050.98,2714.96,0.03
2019-12-04 10:30:00,24.24,24.24,24.16,24.14,1988.0,-0.08,-0.33,24.152,23.972,23.8480,6222.80,3874.28,2955.11,0.03
2019-12-04 10:15:00,24.16,24.25,24.24,24.15,3141.0,0.08,0.33,24.086,23.937,23.8415,6292.80,3761.08,3037.80,0.04

In [14]:
ts.get_hist_data('600848', ktype='30') #获取30分钟k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2020-01-03 15:00:00,24.58,24.63,24.61,24.57,8335.40,0.03,0.12,24.562,24.580,24.5810,4301.07,5476.47,6663.67,0.11
2020-01-03 14:30:00,24.53,24.59,24.58,24.53,3612.00,0.05,0.20,24.556,24.576,24.5785,3649.32,5411.59,6449.67,0.05
2020-01-03 14:00:00,24.53,24.60,24.54,24.52,3941.00,0.01,0.04,24.580,24.569,24.5735,4301.48,5970.96,6601.67,0.05
2020-01-03 13:30:00,24.54,24.58,24.53,24.52,3029.05,-0.01,-0.04,24.578,24.571,24.5770,5464.08,6268.17,6803.18,0.04
2020-01-03 11:30:00,24.58,24.59,24.55,24.54,2587.88,-0.03,-0.12,24.596,24.576,24.5860,6214.09,6913.77,9028.13,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-04 14:30:00,27.46,27.51,27.47,27.46,4933.00,0.01,0.04,27.490,27.614,27.5465,6055.04,14365.30,11400.10,0.06
2019-11-04 14:00:00,27.47,27.50,27.49,27.42,4541.00,0.02,0.07,27.476,27.644,27.5405,7522.94,14726.90,11551.70,0.06
2019-11-04 13:30:00,27.54,27.54,27.46,27.40,7081.54,-0.08,-0.29,27.462,27.665,27.5410,17167.40,14749.90,11871.70,0.09
2019-11-04 11:30:00,27.49,27.55,27.54,27.46,5562.00,0.05,0.18,27.570,27.688,27.5390,20336.80,15630.90,12243.10,0.07
2019-11-04 11:00:00,27.41,27.60,27.49,27.40,8157.67,0.08,0.29,27.662,27.692,27.5405,21977.40,16659.50,12386.80,0.10

In [17]:
ts.get_hist_data('600848', ktype='60') #获取60分钟k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2020-01-03 15:00:00,24.53,24.63,24.61,24.53,11947.40,0.08,0.33,24.604,24.588,24.3360,10952.9,13327.3,14365.2,0.15
2020-01-03 14:00:00,24.54,24.60,24.54,24.52,6970.05,0.00,0.00,24.596,24.583,24.3050,11941.9,13203.3,14167.8,0.09
2020-01-03 11:30:00,24.70,24.71,24.55,24.54,7664.55,-0.15,-0.61,24.600,24.590,24.2690,13827.6,18056.3,14201.8,0.10
2020-01-03 10:30:00,24.61,24.70,24.70,24.43,16626.80,0.09,0.37,24.614,24.544,24.2330,17516.7,18239.2,14258.5,0.21
2020-01-02 15:00:00,24.58,24.64,24.62,24.50,11555.90,0.04,0.16,24.586,24.486,24.2000,16108.1,18200.8,13885.9,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-27 14:00:00,27.47,27.50,27.16,27.13,25381.00,-0.31,-1.13,27.172,27.250,27.8230,26292.0,29036.6,46052.9,0.32
2019-08-27 11:30:00,27.43,27.60,27.47,27.42,18996.00,0.04,0.15,27.142,27.299,27.8395,24171.0,34337.3,46810.0,0.24
2019-08-27 10:30:00,27.17,27.62,27.44,27.17,48716.00,0.27,0.99,27.008,27.375,27.8325,32339.9,36348.0,47822.5,0.62
2019-08-26 15:00:00,26.91,26.92,26.88,26.71,23909.00,-0.03,-0.11,27.074,27.449,27.8335,29361.7,33993.3,53942.6,0.30
2019-08-26 14:00:00,27.00,27.06,26.91,26.79,14458.00,-0.09,-0.33,27.208,27.584,27.7885,28539.5,35791.2,54548.0,0.18

In [23]:
ts.get_hist_data('sh')#获取上证指数k线数据，其它参数与个股一致，下同

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-01-06,3070.91,3107.20,3084.12,3065.31,3093126.75,0.33,0.01,3068.650,3028.295,2998.421,2657550.20,2302719.19,2167802.13
2020-01-03,3089.02,3093.82,3083.79,3074.52,2614966.75,-1.41,-0.05,3052.834,3020.377,2989.815,2533130.40,2208482.26,2080210.23
2020-01-02,3066.34,3098.10,3085.20,3066.34,2924702.00,35.08,1.15,3037.546,3013.705,2980.599,2375017.90,2155609.85,2021043.44
2019-12-31,3036.39,3051.68,3050.12,3030.51,2174290.25,10.10,0.33,3016.882,3006.889,2970.245,2141385.55,2107229.35,1937580.17
2019-12-30,2998.17,3041.40,3040.02,2983.34,2480665.25,34.98,1.16,3003.394,3004.119,2961.974,2032588.00,2182832.57,1890755.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-14,3212.03,3222.98,3222.42,3204.85,1601267.75,4.26,0.13,3210.758,3210.758,3210.758,1858193.07,1858193.07,1858193.07
2017-07-13,3192.36,3219.27,3218.16,3190.34,1953036.12,20.62,0.65,3207.843,3207.843,3207.843,1922424.40,1922424.40,1922424.40
2017-07-12,3201.93,3215.20,3197.54,3177.93,1869008.75,-5.50,-0.17,3204.403,3204.403,3204.403,1912220.50,1912220.50,1912220.50
2017-07-11,3201.52,3226.91,3203.04,3199.22,1878372.62,-9.59,-0.30,3207.835,3207.835,3207.835,1933826.37,1933826.37,1933826.37
2017-07-10,3208.46,3223.34,3212.63,3203.21,1989280.12,-5.33,-0.17,3212.630,3212.630,3212.630,1989280.12,1989280.12,1989280.12

In [24]:
ts.get_hist_data('sz')#获取深圳成指k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-01-06,10599.41,10799.58,10698.27,10577.78,438998272.0,41.86,0.39,10558.046,10380.280,10228.661,3.621340e+08,3.318603e+08,3.250683e+08
2020-01-03,10666.66,10689.59,10656.41,10594.36,373603936.0,17.59,0.17,10465.146,10333.402,10187.678,3.446696e+08,3.224895e+08,3.145374e+08
2020-01-02,10509.12,10663.55,10638.82,10479.77,392795168.0,208.05,2.00,10394.608,10297.390,10144.811,3.285347e+08,3.198877e+08,3.073335e+08
2019-12-31,10360.78,10433.29,10430.77,10352.89,282427712.0,64.81,0.62,10312.760,10262.974,10097.268,3.081225e+08,3.185865e+08,2.977981e+08
2019-12-30,10203.82,10365.96,10365.96,10133.88,322844928.0,132.19,1.29,10264.464,10250.500,10058.612,3.044678e+08,3.328245e+08,2.933324e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-14,10445.57,10452.94,10427.79,10382.37,160920960.0,-38.31,-0.37,10464.078,10464.078,10464.078,1.845077e+08,1.845077e+08,1.845077e+08
2017-07-13,10444.78,10491.39,10466.10,10431.50,172243648.0,12.91,0.12,10473.150,10473.150,10473.150,1.904043e+08,1.904043e+08,1.904043e+08
2017-07-12,10465.87,10494.25,10453.19,10360.10,188731008.0,-14.52,-0.14,10475.500,10475.500,10475.500,1.964579e+08,1.964579e+08,1.964579e+08
2017-07-11,10488.89,10568.37,10467.71,10467.13,187942448.0,-37.89,-0.36,10486.655,10486.655,10486.655,2.003213e+08,2.003213e+08,2.003213e+08
2017-07-10,10542.55,10574.21,10505.60,10497.39,212700240.0,-58.12,-0.55,10505.600,10505.600,10505.600,2.127002e+08,2.127002e+08,2.127002e+08

In [27]:
ts.get_hist_data('hs300') #获取沪深300指数k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-01-06,4120.52,4170.64,4129.30,4102.38,1753099.50,-15.66,-0.38,4120.942,4060.366,4013.401,1558977.45,1353019.96,1303925.72
2020-01-03,4161.22,4164.30,4144.96,4131.86,1428262.50,-7.28,-0.17,4099.488,4049.161,4002.055,1510210.37,1298977.67,1255595.19
2020-01-02,4121.35,4172.66,4152.24,4121.35,1821167.75,55.66,1.36,4075.694,4037.380,3988.775,1442279.15,1274051.98,1228707.67
2019-12-31,4077.75,4098.14,4096.58,4069.01,1232642.62,14.95,0.37,4043.420,4025.434,3973.654,1267923.38,1243286.97,1177490.97
2019-12-30,4015.52,4083.69,4081.63,4001.50,1559714.88,59.60,1.48,4022.696,4019.956,3961.380,1213372.94,1321185.64,1152664.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-14,3682.62,3703.09,3703.09,3672.74,1055140.00,16.17,0.44,3674.666,3674.666,3674.666,1185648.15,1185648.15,1185648.15
2017-07-13,3656.35,3690.48,3686.92,3652.57,1256695.50,28.10,0.77,3667.560,3667.560,3667.560,1218275.19,1218275.19,1218275.19
2017-07-12,3672.63,3691.58,3658.82,3640.59,1222877.88,-11.99,-0.33,3661.107,3661.107,3661.107,1205468.42,1205468.42,1205468.42
2017-07-11,3646.88,3701.21,3670.81,3645.99,1187608.25,17.12,0.47,3662.250,3662.250,3662.250,1196763.69,1196763.69,1196763.69
2017-07-10,3647.94,3667.85,3653.69,3641.53,1205919.12,-2.24,-0.06,3653.690,3653.690,3653.690,1205919.12,1205919.12,1205919.12

In [29]:
ts.get_hist_data('sz50') #获取上证50指数k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-01-06,3062.28,3090.84,3056.84,3040.19,477078.28,-21.44,-0.70,3070.384,3034.835,3010.042,419340.81,338256.85,317502.76
2020-01-03,3097.25,3097.41,3078.28,3072.11,371854.94,-12.55,-0.41,3062.572,3030.414,3004.191,392765.70,315641.25,304340.64
2020-01-02,3073.93,3107.52,3090.83,3073.93,500363.91,27.61,0.90,3049.244,3024.357,2996.375,364506.36,305384.85,296980.15
2019-12-31,3057.30,3065.38,3063.22,3043.93,310740.44,0.47,0.01,3028.278,3017.852,2986.887,307203.33,287841.08,281681.04
2019-12-30,3016.20,3065.25,3062.75,3007.96,436666.47,44.97,1.49,3014.988,3014.844,2979.207,289606.15,304114.37,275688.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-14,2600.76,2623.32,2622.98,2593.43,336532.84,22.03,0.85,2581.954,2581.954,2581.954,345737.65,345737.65,345737.65
2017-07-13,2565.59,2601.47,2600.95,2563.22,428715.75,35.81,1.40,2571.698,2571.698,2571.698,348038.86,348038.86,348038.86
2017-07-12,2570.91,2604.20,2565.14,2555.38,370705.94,-5.45,-0.21,2561.947,2561.947,2561.947,321146.56,321146.56,321146.56
2017-07-11,2543.72,2592.06,2570.59,2543.05,339682.28,20.48,0.80,2560.350,2560.350,2560.350,296366.87,296366.87,296366.87
2017-07-10,2538.16,2557.47,2550.11,2530.93,253051.45,6.45,0.25,2550.110,2550.110,2550.110,253051.45,253051.45,253051.45

In [31]:
ts.get_hist_data('zxb')#获取中小板指数k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-01-06,6790.59,6972.09,6888.38,6773.23,42990020.0,58.72,0.86,6746.084,6613.106,6501.913,36431671.2,33170479.8,32742462.6
2020-01-03,6824.33,6853.33,6829.66,6785.74,35009396.0,20.18,0.30,6668.504,6573.791,6471.967,34923844.8,32333056.2,31819339.7
2020-01-02,6686.61,6826.19,6809.48,6653.50,41430372.0,176.80,2.67,6611.232,6543.675,6442.121,33225444.8,32146011.2,31457328.7
2019-12-31,6567.77,6632.68,6632.68,6564.61,27998032.0,62.46,0.95,6550.304,6518.039,6408.296,30780460.4,32006725.6,30299163.4
2019-12-30,6473.35,6574.06,6570.22,6425.87,34730536.0,69.74,1.07,6517.946,6509.416,6382.819,30600922.4,33809285.2,29798831.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-14,6901.65,6931.17,6916.64,6856.07,17164258.0,10.70,0.15,6906.906,6906.906,6906.906,19403307.2,19403307.2,19403307.2
2017-07-13,6897.96,6918.89,6905.94,6882.81,18432876.0,13.43,0.20,6904.473,6904.473,6904.473,19963069.5,19963069.5,19963069.5
2017-07-12,6889.11,6907.25,6892.51,6827.05,19443628.0,5.12,0.07,6903.983,6903.983,6903.983,20473134.0,20473134.0,20473134.0
2017-07-11,6921.22,6959.01,6887.39,6884.43,19199436.0,-44.66,-0.64,6909.720,6909.720,6909.720,20987887.0,20987887.0,20987887.0
2017-07-10,6957.77,6969.63,6932.05,6922.80,22776338.0,-39.41,-0.56,6932.050,6932.050,6932.050,22776338.0,22776338.0,22776338.0

In [33]:
ts.get_hist_data('cyb')#获取创业板指数k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-01-06,1825.55,1876.46,1859.92,1824.35,33903884.0,23.91,1.30,1823.406,1796.913,1777.770,25366911.60,22073579.10,22755815.95
2020-01-03,1836.86,1842.56,1836.01,1821.67,24750632.0,3.27,0.18,1804.938,1788.092,1771.114,23337315.20,20938911.70,21995672.05
2020-01-02,1811.22,1839.41,1832.74,1797.54,29522782.0,34.62,1.93,1796.464,1783.535,1764.805,21766924.40,20574483.30,21723254.75
2019-12-31,1790.80,1804.82,1798.12,1787.45,17704688.0,7.88,0.44,1786.794,1779.503,1756.857,19536407.60,20232758.90,20972094.85
2019-12-30,1763.58,1790.91,1790.24,1749.16,20952572.0,22.66,1.28,1781.144,1779.853,1750.721,19110513.00,21358206.10,20833199.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-07-14,1771.33,1771.33,1745.57,1742.22,14360271.0,-33.29,-1.87,1779.668,1779.668,1779.668,11728166.60,11728166.60,11728166.60
2017-07-13,1784.26,1786.22,1778.86,1774.78,8973378.0,-7.89,-0.44,1788.193,1788.193,1788.193,11070140.50,11070140.50,11070140.50
2017-07-12,1779.90,1788.69,1786.75,1764.10,11319639.0,2.84,0.16,1791.303,1791.303,1791.303,11769061.33,11769061.33,11769061.33
2017-07-11,1799.52,1804.72,1783.91,1783.91,11591201.0,-19.34,-1.07,1793.580,1793.580,1793.580,11993772.50,11993772.50,11993772.50
2017-07-10,1831.37,1831.37,1803.25,1803.23,12396344.0,-32.19,-1.75,1803.250,1803.250,1803.250,12396344.00,12396344.00,12396344.00

## 历史行情 [tushare pro 新接口](https://tushare.pro/register?reg=340050)

In [33]:
# 开始使用tushare pro api
import tushare as ts
import os
# ts.set_token(os.getenv("TUSHARE_TOKEN")) # 设置token
pro = ts.pro_api(os.getenv("TUSHARE_TOKEN")) # 初始化pro接口
# 数据调取：以获取交易日历信息为例
# df = pro.trade_cal(exchange='', start_date='20180901', end_date='20181001', fields='exchange,cal_date,is_open,pretrade_date', is_open='0')
# df = pro.query('trade_cal', exchange='', start_date='20180901', end_date='20181001', fields='exchange,cal_date,is_open,pretrade_date', is_open='0')
# print(df)

df = pro.new_share(start_date='20191206', end_date='20200106') # IPO新股列表
print(df)

      ts_code sub_code  name  ipo_date issue_date    amount  market_amount  \
0   601816.SH   780816  京沪高铁  20200106             628563.0        94284.0
1   300813.SZ   300813  泰林生物  20200103               1300.0         1300.0
2   002971.SZ   002971  和远气体  20200102               4000.0         3600.0
3   688178.SH   787178   万德斯  20200102               2125.0          808.0
4   603551.SH   732551  奥普家居  20200102               4001.0         3601.0
5   002973.SZ   002973  侨银环保  20191225   20200106    4089.0         3680.0
6   688181.SH   787181  八亿时空  20191225   20200106    2412.0          828.0
7   300812.SZ   300812  易天股份  20191225               1938.0         1938.0
8   688081.SH   787081  兴图新科  20191224   20200106    1840.0          699.0
9   300811.SZ   300811  铂科新材  20191219   20191230    1440.0         1440.0
10  002972.SZ   002972   科安达  20191218   20191227    4408.0         3967.0
11  688078.SH   787078  龙软科技  20191218   20191230    1769.0          672.0
12  603109.SH   732109  神驰机电  20191218   20191231    3667.0         3300.0
13  688268.SH   787268  华特气体  20191217   20191226    3000.0         1140.0
14  688123.SH   787123  聚辰股份  20191212   20191223    3021.0         1151.0
15  603995.SH   732995  甬金股份  20191211   20191224    5767.0         5190.0
16  601512.SH   780512  中新集团  20191211   20191220   14989.0        13490.0
17  688089.SH   787089   嘉必优  20191210   20191219    3000.0         1033.0

    price     pe  limit_amount   funds  ballot
0    4.88  23.39         94.20   0.000    0.00
1   18.35  22.97          1.30   2.385    0.00
2   10.82  22.97          1.60   4.328    0.03
3   25.20  29.14          0.60   5.944    0.04
4   15.21  21.85          1.20   6.402    0.04
5    5.74  22.99          1.20   2.347    0.04
6   43.98  37.35          0.60   3.532    0.04
7   21.46  22.99          1.90   4.159    0.02
8   28.21  51.70          0.50   4.558    0.04
9   26.22  22.99          1.40   3.776    0.01
10  11.49  21.73          1.30   5.065    0.04
11  21.59  49.04          0.50   3.053    0.04
12  18.38  22.21          1.40   6.740    0.04
13  22.16  42.89          0.85   5.186    0.04
14  33.25  52.79          0.85   8.062    0.05
15  22.52  16.24          2.30  12.987    0.04
16   9.67  17.34          4.40  14.494    0.09
17  23.90  43.12          0.75   6.086    0.05